body
{
	font-family:"Montserrat";
	text-align:center;
}
#title
{
	background-color:#ff4c68;
	text-align:left;
}
.container-fluid
{
	padding:3% 14% 4%;
}
.big
{
    font-family:"Montserrat-Black";
	font-size:3.5rem;
	line-height:1.5;
}
h1,h2,h3,h4,h5,h6
{
	font-family:"Montserrat-Bold";
}
h2
{
	font-size:3rem;
	line-height:1.5;
}
h3
{
	font-size:1.5rem;
}

.navbar
{
	padding:0 0 4.5rem;
}
.nav-item
{
	padding:0 18px;
}
.nav-link
{
	font-size:1.2rem;
	font-family:"Montserrat-light";
	
}
.navbar-brand
{
	font-family:"Ubuntu";
	font-size:2.5rem;
	font-weight:bold;
}
.download
{
	margin:5% 3% 5% 0;
}
.image
{
	width:60%;
	transform:rotate(25deg);
	position:absolute;
     right:30%;
}
#features
{
	padding: 5% 12% 12%;
	background-color:#fff;
	position:relative;

}
.feature-box
{
	padding:9% 4% 2%;
}
.icon{
	color:#ef8172;
	margin-bottom:1rem;
	
}
.icon:hover
{
	color:#ff4c68;
}
#testimonials
{

	padding:4% 8% 10%;
	background-color:#ef8172;
	color:#fff;
}
.testi
{
	width:10%;
	border-radius:100%;
	margin:20px;
}
.carousel-item
{
	padding:5% 12%;
}
#press
{
	background-color:#ef8172;
	padding-bottom:3%;
}
.logo
{
	width:15%;
	margin:25px 20px 50px;
	padding:10%;

}

#pricing
{
	padding:100px;
}
.price
{
	padding:3% 2%;
}
#cta
{
	background-color:#ff4c68;
	color:#fff;
	padding:6% 13%;
}

#footer
{
	padding:7% 15%;

}
.social
{
	margin:20px 10px;
}
@media (max-width:1028px)
{
	.image{
		position:static;
		transform:rotate(0);
		
	}
	#title{
		text-align:center;
	}
}